@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5px;
    font-family: "Roboto";
}

:root{
    --cor-background: #00080a;
    --cor-background-dois: #001014;
    --cor-background-tres: #001820;
    --cor-background-quatro:rgb(1, 28, 37);
    --cor-background-cinco:rgb(1, 35, 48);
    --cor-background-seis:rgb(1, 31, 43);
    
    --cor-background-pouco-destaque: #00141a;
    --cor-azul: #00D1FF;
    --cor-azul-escuro: #00181f;
}

h1{
    color: white;
    position: relative;
    font-size: 2rem;
    text-shadow: 4px 2px 0px var(--cor-azul);
    transition: .5s;
}