header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 8vh;
    z-index: 99;
    background-color: #7497ac33;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    backdrop-filter: blur(20px) brightness(20%);
}

.header-icon{
    width: 70px;
}

header nav{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

header nav ul{
    position: relative;
    display: flex;
    width: 60%;
    min-width: 800px;
    align-items: center;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
    font-size: 0.4rem;
    color: white;
}

header nav ul li a{
    color: white;
    transition: .5s;
}

header nav ul li a:hover{
    text-shadow: 2px 0px 0px var(--cor-azul);;
}

.menu-icon{
    display: none!important;
    color: white;
    font-size: 0.5rem;
}

.mostrarMenu{
    animation: mostrarMenuMobile .5s ease-in-out;
    animation-fill-mode: forwards;
}

.esconderMenu{
    animation: esconderMenuMobile .5s ease-in-out;
    animation-fill-mode: forwards;
}

@media (max-width: 1040px){
    .menu-icon{
        display: flex!important;
    }

    header{
        background-color: var(--cor-azul-escuro);
    }

    header nav{
        z-index: 98;
        position: absolute;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--cor-azul-escuro);
        height: fit-content;
        left: 0%;
        top: -100vh;
        border-radius: 0px 0px 15px 15px;
    }

    header nav ul{
        flex-direction: column;
        text-align: center;
    }

    header nav ul li{
        margin: 30px 0px;
        font-size: 0.3rem;
    }
}

@keyframes mostrarMenuMobile {
    0%{
        top: -100vh;
    }

    100%{
        top: 8vh;
    }
}

@keyframes esconderMenuMobile {
    0%{
        top: 8vh;
    }

    100%{
        top: -100vh;
    }
}