.projetos{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-background);
}

.projetos h1{
    font-size: 1rem;
}

.projetos-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.projetos-container h2{
    color: white;
    font-size: 0.6rem;
}

.container-imagens{
    position: relative;
    display: flex;
    width: 90%;
    height: 70%;
    background-color: white;
    margin: 15px 0;
}

.projetos-container p{
    color: white;
    font-size: 0.4rem;
    text-align: center;
    width: 90%;
}

.imagem-projeto{
    position: relative;
    height: 100%;
    border: 1px solid var(--cor-azul-escuro);
    flex-grow: 1;
    background-size: cover;
    background-position: center center;
    animation-timing-function: ease-in-out;
    transition: 1s;
}

.imagem-projeto{
    background-image: url("./../img/projetos/cavus.jpg");
}

.imagem-projeto:hover{
    flex-grow: 5;
}